<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3 mb-5">家庭記帳本</h1>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="name">使用者</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="email">信箱</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">密碼</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="confirmPassword">確認密碼</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
            placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-success btn-block">建立帳號</button>
      </form>
      <hr>
      <p class="lead mt-4 d-flex justify-content-center">
        <a href="/users/login" class="btn btn-primary btn-block col-5">登入</a>
      </p>
    </div>
  </div>
</div>